body {
    background-color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 60px;
}

#book-form {
    display: none;
}

.container {
    background-color: #FFF;
    width: 600px;
    padding: 80px 80px;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-book {
    border-radius: 15px;
    background-color: brown;
    padding: 8px 15px;
    font-weight: bold;
    color:blanchedalmond;
    border: none;
    font-size: 20px;
    margin-bottom: 30px;
}

#book-form {
    padding:10px 30px 30px 30px;
    border: brown 3px solid;
    border-radius: 15px;
    width: 200px;
    margin-bottom: 30px;
}

#book-form > div {
    padding:10px
}

#book-form #pages {
    width: 40px;
}

input[type='button'] {
    border-radius: 15px;
    background-color: brown;
    padding: 4px 7px;
    font-weight: bold;
    color:blanchedalmond;
    border: none;
    font-size: 14px;
}

.book{
    border: brown 3px solid;
    border-radius: 15px;
    padding: 15px;
    box-shadow: rgb(212, 159, 159) 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
}

#books {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book >* {
    margin-left: 15px;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.button-div {
    display: flex;
    gap: 3px;
    justify-content: end;
    align-content: center;
    justify-self: end;
    margin-top: 10px;
}

.button-div > button {
    background-color: brown;
    padding: 4px 7px;
    font-weight: bold;
    color:blanchedalmond;
    border: none;
    font-size: 12px;
    border-radius: 15px;
}
input:invalid{
    border-color: red;
}
input:focus {
    outline: none;
}
.error {
    width: 100%;
    color: white;
    background-color: brown;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    display: block;
}
.active {
    padding: 3px;
}
#book-form input {
    margin-bottom: 3px;
}